<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>心血管疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>265657</string>
				<key>name</key>
				<string>高血压</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266020</string>
				<key>name</key>
				<string>冠心病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>267087</string>
				<key>name</key>
				<string>心肌梗塞</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264731</string>
				<key>name</key>
				<string>高脂血症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257781</string>
				<key>name</key>
				<string>心房颤动</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266077</string>
				<key>name</key>
				<string>颅内动脉瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266005</string>
				<key>name</key>
				<string>慢性心力衰竭</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>713713</string>
				<key>name</key>
				<string>急性冠脉综合</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266856</string>
				<key>name</key>
				<string>高血压脑病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257729</string>
				<key>name</key>
				<string>原发性高血压</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>消化系统疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>252174</string>
				<key>name</key>
				<string>消化性溃疡</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264660</string>
				<key>name</key>
				<string>腹泻</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252177</string>
				<key>name</key>
				<string>食管癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265800</string>
				<key>name</key>
				<string>肝硬化</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252161</string>
				<key>name</key>
				<string>慢性胃炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264458</string>
				<key>name</key>
				<string>胆囊结石病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252148</string>
				<key>name</key>
				<string>结肠癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264778</string>
				<key>name</key>
				<string>直肠癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252144</string>
				<key>name</key>
				<string>大肠癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>256159</string>
				<key>name</key>
				<string>胃食管反流病</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>神经系统疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>257349</string>
				<key>name</key>
				<string>脑梗死</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266057</string>
				<key>name</key>
				<string>脑出血</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266054</string>
				<key>name</key>
				<string>中风</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>263260</string>
				<key>name</key>
				<string>小儿颅脑损伤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266047</string>
				<key>name</key>
				<string>癫痫</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266077</string>
				<key>name</key>
				<string>颅内动脉瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266058</string>
				<key>name</key>
				<string>短暂性脑缺血发作</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251260</string>
				<key>name</key>
				<string>帕金森病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265705</string>
				<key>name</key>
				<string>失眠</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268425</string>
				<key>name</key>
				<string>脑性瘫痪</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>妇产科疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>264708</string>
				<key>name</key>
				<string>子宫肌瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>690177</string>
				<key>name</key>
				<string>宫颈癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266037</string>
				<key>name</key>
				<string>盆腔炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269656</string>
				<key>name</key>
				<string>功能失调性子宫出血</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252028</string>
				<key>name</key>
				<string>卵巢囊肿</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264706</string>
				<key>name</key>
				<string>子宫内膜异位症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>690183</string>
				<key>name</key>
				<string>宫颈炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251261</string>
				<key>name</key>
				<string>不孕症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266032</string>
				<key>name</key>
				<string>多囊卵巢综合征</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264721</string>
				<key>name</key>
				<string>卵巢癌</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>呼吸系统疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>264659</string>
				<key>name</key>
				<string>肺炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269851</string>
				<key>name</key>
				<string>肺癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264693</string>
				<key>name</key>
				<string>慢性阻塞性肺疾病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266009</string>
				<key>name</key>
				<string>普通感冒</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>260259</string>
				<key>name</key>
				<string>支气管哮喘</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265982</string>
				<key>name</key>
				<string>慢性支气管炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>690207</string>
				<key>name</key>
				<string>急性呼吸道感染</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264658</string>
				<key>name</key>
				<string>肺结核</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264566</string>
				<key>name</key>
				<string>肺炎链球菌性肺炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269456</string>
				<key>name</key>
				<string>呼吸衰竭</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>内分泌疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>265719</string>
				<key>name</key>
				<string>糖尿病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257521</string>
				<key>name</key>
				<string>甲状腺功能亢进症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>261516</string>
				<key>name</key>
				<string>甲状腺功能减退症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265655</string>
				<key>name</key>
				<string>骨质疏松症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268367</string>
				<key>name</key>
				<string>糖尿病肾病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>261559</string>
				<key>name</key>
				<string>糖尿病视网膜病变</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269550</string>
				<key>name</key>
				<string>甲状腺腺瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268383</string>
				<key>name</key>
				<string>痛风</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>713712</string>
				<key>name</key>
				<string>甲状腺肿</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>感染疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>266959</string>
				<key>name</key>
				<string>乙型肝炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265738</string>
				<key>name</key>
				<string>带状疱疹</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251255</string>
				<key>name</key>
				<string>手足口病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>690267</string>
				<key>name</key>
				<string>结核病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264649</string>
				<key>name</key>
				<string>病毒性肝炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264648</string>
				<key>name</key>
				<string>艾滋病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257535</string>
				<key>name</key>
				<string>丙型肝炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269396</string>
				<key>name</key>
				<string>流行性感冒</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265942</string>
				<key>name</key>
				<string>尖锐湿庞</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269397</string>
				<key>name</key>
				<string>流行性腮腺炎</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>泌尿生殖系统疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>268484</string>
				<key>name</key>
				<string>前列腺增生</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264669</string>
				<key>name</key>
				<string>慢性肾衰竭</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251322</string>
				<key>name</key>
				<string>尿路感染</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264801</string>
				<key>name</key>
				<string>肾病综合征</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265832</string>
				<key>name</key>
				<string>前列腺炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257489</string>
				<key>name</key>
				<string>慢性肾小球肾炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251239</string>
				<key>name</key>
				<string>尿毒症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251214</string>
				<key>name</key>
				<string>肾结石</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264790</string>
				<key>name</key>
				<string>输尿管结石</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257566</string>
				<key>name</key>
				<string>膀胱肿瘤</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>血液病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>264814</string>
				<key>name</key>
				<string>淋巴瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269485</string>
				<key>name</key>
				<string>急性白血病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264813</string>
				<key>name</key>
				<string>贫血</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265642</string>
				<key>name</key>
				<string>缺铁性贫血</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251040</string>
				<key>name</key>
				<string>多发性骨髓瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251012</string>
				<key>name</key>
				<string>特发性血小板减少性紫癜</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264688</string>
				<key>name</key>
				<string>再生障碍性贫血</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251029</string>
				<key>name</key>
				<string>非霍奇金淋巴瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265628</string>
				<key>name</key>
				<string>过敏性紫癜</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268568</string>
				<key>name</key>
				<string>巨幼细胞性贫血</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>风湿免疫病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>250230</string>
				<key>name</key>
				<string>骨关节炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264815</string>
				<key>name</key>
				<string>类风湿关节炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>263334</string>
				<key>name</key>
				<string>系统性红斑狼疮</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264672</string>
				<key>name</key>
				<string>强直性脊柱炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269608</string>
				<key>name</key>
				<string>干燥综合征</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257516</string>
				<key>name</key>
				<string>狼疮肾炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264685</string>
				<key>name</key>
				<string>硬皮病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257545</string>
				<key>name</key>
				<string>超敏性血管炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>261971</string>
				<key>name</key>
				<string>幼年特发性关节炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>267230</string>
				<key>name</key>
				<string>白塞病</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>肿瘤</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>269851</string>
				<key>name</key>
				<string>肺癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252168</string>
				<key>name</key>
				<string>胃癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264675</string>
				<key>name</key>
				<string>乳腺癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252177</string>
				<key>name</key>
				<string>食管癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252148</string>
				<key>name</key>
				<string>结肠癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264778</string>
				<key>name</key>
				<string>直肠癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252144</string>
				<key>name</key>
				<string>大肠癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264814</string>
				<key>name</key>
				<string>淋巴瘤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269485</string>
				<key>name</key>
				<string>急性白血病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>690177</string>
				<key>name</key>
				<string>宫颈癌</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>代谢疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>265719</string>
				<key>name</key>
				<string>糖尿病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264731</string>
				<key>name</key>
				<string>高血脂症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268367</string>
				<key>name</key>
				<string>糖尿病肾病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>261559</string>
				<key>name</key>
				<string>糖尿病视网膜病变</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268383</string>
				<key>name</key>
				<string>痛风</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265622</string>
				<key>name</key>
				<string>糖尿病性神经病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269641</string>
				<key>name</key>
				<string>高钾血症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264732</string>
				<key>name</key>
				<string>低血糖症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268368</string>
				<key>name</key>
				<string>糖尿病酮症酸中毒</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>口腔疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>269757</string>
				<key>name</key>
				<string>牙周炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268505</string>
				<key>name</key>
				<string>龋齿</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269608</string>
				<key>name</key>
				<string>干燥综合征</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269708</string>
				<key>name</key>
				<string>颌骨骨折</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>713708</string>
				<key>name</key>
				<string>前牙反牙合</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>713709</string>
				<key>name</key>
				<string>颞下颌关节紊乱</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>267150</string>
				<key>name</key>
				<string>牙折</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269880</string>
				<key>name</key>
				<string>口腔溃疡</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268582</string>
				<key>name</key>
				<string>口腔念珠菌病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>267142</string>
				<key>name</key>
				<string>牙齿感觉过敏症</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>眼疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>690275</string>
				<key>name</key>
				<string>结膜炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264673</string>
				<key>name</key>
				<string>青光眼</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>261559</string>
				<key>name</key>
				<string>糖尿病视网膜病变</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264665</string>
				<key>name</key>
				<string>近视</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>269372</string>
				<key>name</key>
				<string>老年性黄斑变性</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252368</string>
				<key>name</key>
				<string>眼外伤</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266880</string>
				<key>name</key>
				<string>翼状胬肉</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266896</string>
				<key>name</key>
				<string>弱视</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252336</string>
				<key>name</key>
				<string>玻璃体积血</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252340</string>
				<key>name</key>
				<string>散光</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>骨科疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>264764</string>
				<key>name</key>
				<string>腰椎间盘突出症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>252178</string>
				<key>name</key>
				<string>骨折</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>250230</string>
				<key>name</key>
				<string>骨关节炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265931</string>
				<key>name</key>
				<string>颈椎病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264815</string>
				<key>name</key>
				<string>类风湿关节炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265655</string>
				<key>name</key>
				<string>骨质疏松症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>260057</string>
				<key>name</key>
				<string>腰椎管狭窄症</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>259181</string>
				<key>name</key>
				<string>肩关节周围炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264766</string>
				<key>name</key>
				<string>腰肌劳损</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>260077</string>
				<key>name</key>
				<string>颈椎间盘突出症</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>耳鼻咽喉疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>265928</string>
				<key>name</key>
				<string>慢性咽炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>262034</string>
				<key>name</key>
				<string>变应性鼻炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266943</string>
				<key>name</key>
				<string>鼻咽癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>267275</string>
				<key>name</key>
				<string>鼻窦炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265926</string>
				<key>name</key>
				<string>急性扁桃体炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>250244</string>
				<key>name</key>
				<string>慢性鼻炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265929</string>
				<key>name</key>
				<string>急性咽炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>250243</string>
				<key>name</key>
				<string>耳聋</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265924</string>
				<key>name</key>
				<string>慢性扁桃体炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266931</string>
				<key>name</key>
				<string>慢性化脓性中耳炎</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>皮肤病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>268489</string>
				<key>name</key>
				<string>荨麻疹</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268323</string>
				<key>name</key>
				<string>湿疹</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257987</string>
				<key>name</key>
				<string>寻常痤疮</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>263334</string>
				<key>name</key>
				<string>系统性红斑狼疮</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251255</string>
				<key>name</key>
				<string>手足口病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>255253</string>
				<key>name</key>
				<string>足癣</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265628</string>
				<key>name</key>
				<string>过敏性紫癜</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265974</string>
				<key>name</key>
				<string>白癜风</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>266989</string>
				<key>name</key>
				<string>疣</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265942</string>
				<key>name</key>
				<string>尖锐湿疣</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>性病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>264648</string>
				<key>name</key>
				<string>艾滋病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265942</string>
				<key>name</key>
				<string>尖锐湿疣</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265949</string>
				<key>name</key>
				<string>淋病</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265948</string>
				<key>name</key>
				<string>梅毒</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268257</string>
				<key>name</key>
				<string>软下疳</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265945</string>
				<key>name</key>
				<string>生殖器疱疹</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265871</string>
				<key>name</key>
				<string>性病性淋巴肉芽肿</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>男科性病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>268484</string>
				<key>name</key>
				<string>前列腺增生</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265832</string>
				<key>name</key>
				<string>前列腺炎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265835</string>
				<key>name</key>
				<string>精索静脉曲张</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251163</string>
				<key>name</key>
				<string>前列腺癌</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>261487</string>
				<key>name</key>
				<string>勃起功能障碍</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>260618</string>
				<key>name</key>
				<string>隐睾</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251199</string>
				<key>name</key>
				<string>包茎</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264689</string>
				<key>name</key>
				<string>早泄</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>713703</string>
				<key>name</key>
				<string>阴茎珍珠状丘疹</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268411</string>
				<key>name</key>
				<string>男性不育</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>儿科疾病</string>
		<key>diseaseName</key>
		<array>
			<dict>
				<key>diseaseID</key>
				<string>263248</string>
				<key>name</key>
				<string>热性惊厥</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>268425</string>
				<key>name</key>
				<string>脑性瘫痪</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>257923</string>
				<key>name</key>
				<string>单侧肺气肿</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>264816</string>
				<key>name</key>
				<string>新生儿黄疸</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>251012</string>
				<key>name</key>
				<string>特发性血小板减少性紫癜</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265674</string>
				<key>name</key>
				<string>新生儿窒息</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265628</string>
				<key>name</key>
				<string>过敏性紫癜</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265993</string>
				<key>name</key>
				<string>房间隔缺损</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>265803</string>
				<key>name</key>
				<string>肠套叠</string>
			</dict>
			<dict>
				<key>diseaseID</key>
				<string>267093</string>
				<key>name</key>
				<string>室间隔缺损</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
