<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CategoryName</key>
		<string>常备用药</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>010101</string>
				<key>itemName</key>
				<string>感冒发热</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010102</string>
				<key>itemName</key>
				<string>头痛牙痛</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010103</string>
				<key>itemName</key>
				<string>肌肉关节</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010104</string>
				<key>itemName</key>
				<string>风湿</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010105</string>
				<key>itemName</key>
				<string>癌症疼痛</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010106</string>
				<key>itemName</key>
				<string>创伤疼痛</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010107</string>
				<key>itemName</key>
				<string>其他用药</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>男科用药</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>011101</string>
				<key>itemName</key>
				<string>前列腺类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011102</string>
				<key>itemName</key>
				<string>补肾壮阳</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011103</string>
				<key>itemName</key>
				<string>性功能障碍</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011104</string>
				<key>itemName</key>
				<string>滋阴补肾</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011105</string>
				<key>itemName</key>
				<string>其他用药</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>心脑血管</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>010601</string>
				<key>itemName</key>
				<string>高血压类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010602</string>
				<key>itemName</key>
				<string>高血脂类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010603</string>
				<key>itemName</key>
				<string>中风偏瘫</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010604</string>
				<key>itemName</key>
				<string>冠心病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010605</string>
				<key>itemName</key>
				<string>低血压</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010606</string>
				<key>itemName</key>
				<string>心肌病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010607</string>
				<key>itemName</key>
				<string>肺动脉高压</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010608</string>
				<key>itemName</key>
				<string>心律不齐</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010609</string>
				<key>itemName</key>
				<string>外周血管疾病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010610</string>
				<key>itemName</key>
				<string>动脉硬化</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010611</string>
				<key>itemName</key>
				<string>心力衰竭</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010612</string>
				<key>itemName</key>
				<string>其他用药</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010613</string>
				<key>itemName</key>
				<string>心绞痛</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010614</string>
				<key>itemName</key>
				<string>脑血管病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010615</string>
				<key>itemName</key>
				<string>静脉曲张</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010616</string>
				<key>itemName</key>
				<string>低钾血症</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010617</string>
				<key>itemName</key>
				<string>动脉闭塞症</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>妇科用药</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>010801</string>
				<key>itemName</key>
				<string>除湿止带</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010802</string>
				<key>itemName</key>
				<string>月经不调</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010803</string>
				<key>itemName</key>
				<string>乳腺疾病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010804</string>
				<key>itemName</key>
				<string>产后疾病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010805</string>
				<key>itemName</key>
				<string>保胎促孕</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010806</string>
				<key>itemName</key>
				<string>妇科炎症</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010807</string>
				<key>itemName</key>
				<string>活血类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010808</string>
				<key>itemName</key>
				<string>更年期综合症</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010809</string>
				<key>itemName</key>
				<string>卵巢疾病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010810</string>
				<key>itemName</key>
				<string>妇科栓剂</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010811</string>
				<key>itemName</key>
				<string>贫血类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010812</string>
				<key>itemName</key>
				<string>妇科洗液</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010813</string>
				<key>itemName</key>
				<string>霉菌性阴道炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010814</string>
				<key>itemName</key>
				<string>盆腔炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010815</string>
				<key>itemName</key>
				<string>滴虫性阴道炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010816</string>
				<key>itemName</key>
				<string>宫颈糜烂</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010817</string>
				<key>itemName</key>
				<string>附件炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010818</string>
				<key>itemName</key>
				<string>细菌性阴道炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010819</string>
				<key>itemName</key>
				<string>痛经</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010820</string>
				<key>itemName</key>
				<string>宫颈炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010821</string>
				<key>itemName</key>
				<string>紧急避孕</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010822</string>
				<key>itemName</key>
				<string>妇科出血</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010823</string>
				<key>itemName</key>
				<string>子宫肌瘤</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010824</string>
				<key>itemName</key>
				<string>短效避孕</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010825</string>
				<key>itemName</key>
				<string>不孕症</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>儿童用药</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>010901</string>
				<key>itemName</key>
				<string>感冒发热</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010902</string>
				<key>itemName</key>
				<string>补钙铁锌</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010903</string>
				<key>itemName</key>
				<string>消化不良</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010904</string>
				<key>itemName</key>
				<string>维生素类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010905</string>
				<key>itemName</key>
				<string>小儿祛火</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010906</string>
				<key>itemName</key>
				<string>五官疾病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010907</string>
				<key>itemName</key>
				<string>抗菌消炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010908</string>
				<key>itemName</key>
				<string>小儿外伤</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010909</string>
				<key>itemName</key>
				<string>腹泻便秘</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010910</string>
				<key>itemName</key>
				<string>咳嗽哮喘</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>肝胆胰类</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>011001</string>
				<key>itemName</key>
				<string>解酒护肝</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011002</string>
				<key>itemName</key>
				<string>乙肝用药</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011003</string>
				<key>itemName</key>
				<string>肝炎用药</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011004</string>
				<key>itemName</key>
				<string>肝硬化类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011005</string>
				<key>itemName</key>
				<string>胆囊炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011006</string>
				<key>itemName</key>
				<string>疏肝理气</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011007</string>
				<key>itemName</key>
				<string>脂肪肝类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011008</string>
				<key>itemName</key>
				<string>黄疸类药</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011009</string>
				<key>itemName</key>
				<string>胆结石</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011010</string>
				<key>itemName</key>
				<string>肝癌类药</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011011</string>
				<key>itemName</key>
				<string>降转氨酶</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011012</string>
				<key>itemName</key>
				<string>胰腺炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011013</string>
				<key>itemName</key>
				<string>胰腺癌</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011014</string>
				<key>itemName</key>
				<string>其他用药</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>皮肤用药</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>010301</string>
				<key>itemName</key>
				<string>烧烫创伤</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010302</string>
				<key>itemName</key>
				<string>皮肤过敏</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010303</string>
				<key>itemName</key>
				<string>扁平苔癣</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010304</string>
				<key>itemName</key>
				<string>生发乌发</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010305</string>
				<key>itemName</key>
				<string> 酒糟鼻</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010306</string>
				<key>itemName</key>
				<string>治裂防冻</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010307</string>
				<key>itemName</key>
				<string>褥疮溃烂</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010308</string>
				<key>itemName</key>
				<string>痱子晒伤</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>0103019</string>
				<key>itemName</key>
				<string>鸡眼</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010310</string>
				<key>itemName</key>
				<string>甲沟炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010311</string>
				<key>itemName</key>
				<string>花斑癣</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010312</string>
				<key>itemName</key>
				<string>多汗腋臭</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010313</string>
				<key>itemName</key>
				<string>皮肤瘙痒</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010314</string>
				<key>itemName</key>
				<string>手足癣病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010315</string>
				<key>itemName</key>
				<string>带状疱疹</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010316</string>
				<key>itemName</key>
				<string>蚊虫叮咬</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010317</string>
				<key>itemName</key>
				<string>皮炎湿疹</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010318</string>
				<key>itemName</key>
				<string>银屑病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010319</string>
				<key>itemName</key>
				<string>痤疮</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010320</string>
				<key>itemName</key>
				<string>疥疮</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010321</string>
				<key>itemName</key>
				<string>白癜风</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010322</string>
				<key>itemName</key>
				<string>麻风病</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010323</string>
				<key>itemName</key>
				<string>尖锐湿疣</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010324</string>
				<key>itemName</key>
				<string>皮肤感染</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010325</string>
				<key>itemName</key>
				<string>祛斑类</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010326</string>
				<key>itemName</key>
				<string>头皮糠疹</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010327</string>
				<key>itemName</key>
				<string>其他用药</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010329</string>
				<key>itemName</key>
				<string>荨麻疹</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010330</string>
				<key>itemName</key>
				<string>青春痘</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010332</string>
				<key>itemName</key>
				<string>手足皲裂</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010334</string>
				<key>itemName</key>
				<string>痈疽疔疮</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010335</string>
				<key>itemName</key>
				<string>祛除疤痕</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>010337</string>
				<key>itemName</key>
				<string>灰指甲</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>泌尿系统</string>
		<key>symptomName</key>
		<array>
			<dict>
				<key>itemID</key>
				<string>011201</string>
				<key>itemName</key>
				<string>尿路感染</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011202</string>
				<key>itemName</key>
				<string>肾炎</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011203</string>
				<key>itemName</key>
				<string>尿路结石</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011204</string>
				<key>itemName</key>
				<string>尿崩症</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011205</string>
				<key>itemName</key>
				<string>肾病综合症</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011206</string>
				<key>itemName</key>
				<string>尿毒症</string>
			</dict>
			<dict>
				<key>itemID</key>
				<string>011207</string>
				<key>itemName</key>
				<string>泌尿系统肿瘤</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
