<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tips</key>
		<string>茄子的维生素P能使血管壁保持弹性和生理功能，防止硬化和破裂。常吃茄子有助于防治高血压、冠心病、动脉硬化。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>大白菜有“百菜之王”的美誉。它营养丰富，含有丰富的粗纤维、维生素C等，它还具有清热解毒的功效。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>洋葱能舒张血管，减少外周血管和心脏冠状动脉的阻力，又能促进钠盐的排泄，从而使血压下降。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>牛肉是高蛋白食品，性味甘、平，有补气血、健脾胃、强筋骨效果，对提高机体免疫功能增强体质有益。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>鲫鱼有健脾利湿，和中开胃，活血通络、温中下气功效，对水肿、气管炎、哮喘、糖尿病有很好的滋补食疗作用。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>笋味甘、微寒，无毒。在药用上具有清热化痰、益气和胃、治消渴、利水道、利膈爽胃等功效。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>韭菜有促进血液循环，降脂，降糖作用，对糖尿病、冠心病、高脂血症等病症均有较好的防治作用。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>黄瓜其味甘性寒，有清热止渴、利水解毒的功效。鲜黄瓜中的丙酮酸可抑制糖类物质转变为脂肪，有减肥作用。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>玉米含丰富的钙、磷、镁、铁、硒以及维生素A、B1、B2、B6、E和胡萝卜素等，对糖尿病患者营养调节有帮助。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>冬瓜味甘、淡、性凉，入肺、大肠、小肠，具有润肺生津，化痰止渴，利尿消肿，清热祛暑，解毒排脓的功效。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>莲藕富含铁、钙等微量元素，植物蛋白质、维生素以及淀粉，有明显的补益气血，增强人体免疫力作用。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>莴笋中无机盐、维生素、烟酸含量较丰富。烟酸是胰岛素的激活剂，糖尿病人常吃莴苣，可改善糖的代谢功能</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>丝瓜中含防止皮肤老化、增白皮肤等成分，并且适量服食丝瓜帮助控制餐后血糖。</string>
	</dict>
	<dict>
		<key>New item</key>
		<string>大豆富含异黄酮，可断绝癌细胞营养供应，降低血中胆固醇，预防高血压、冠心病、动脉硬化等。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>宝宝常吃花椰菜，可促进生长、维持牙齿及骨骼正常、保护视力、提高记忆力。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>黄瓜中所含的葡萄糖甙、果糖等不参与通常的糖代谢。糖尿病人以黄瓜代淀粉类食物充饥，血糖会降低。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>山药含有大量的黏蛋白，能防止脂肪沉积在心血管上，保持血管弹性，并有降低血糖的作用。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>辣椒中的辣椒素还具有抗炎及抗氧化作用，有助于降低心脏病，有辣椒的饭菜能增加人体的能量消耗，帮助减肥。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>豆腐能增加营养、帮助消化、增进食欲，另外对齿、骨骼的生长发育有益，在造血功能中可增加血液中铁的含量。</string>
	</dict>
	<dict>
		<key>tips</key>
		<string>西红柿含大量维生素C，能降压、利尿、健胃消食、生津止渴、清热解毒，并提高机体抗癌能力。</string>
	</dict>
</array>
</plist>
